.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}

.left-info, .center-info, .right-info {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff; /* Color de fondo para las tarjetas */
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-direction: column;
}

.left-info p,
.right-info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.center-info img {
  width: 500px;
  height: 500px;
}

.left-info h2,
.right-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos para la lista de tipos */
.types {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.types ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.types li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  border-radius: 50px;
  margin: 10px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff; /* Color de texto para los tipos */
}
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress-hp {
  height: 100%;
  background-color: #4caf50;
}
.progress-attack {
  height: 100%;
  background-color: #af4c4c;
}
.progress-defense {
  height: 100%;
  background-color: #4c4faf;
}
.progress-sp.-attack {
  height: 100%;
  background-color: #ce1e1e;
}
.progress-sp.-defense {
  height: 100%;
  background-color: #1ea8ce;
} 
.progress-speed{
   height: 100%;
background-color: #e5cd19;
}